.buzzer {
  border-radius: 100%;
  width: 75vw;
  height: 75vw;
  max-width: 450px;
  max-height: 450px;
  border: min(2vw,15px) solid lightgrey;
}

.pressable {
  background-color: rgb(221, 48, 48);
}

.nonPressable {
  background-color: rgb(131, 24, 24);
}

.pressable:hover {
  background-color: rgb(196, 51, 51);
}

.pressable:active {
  position: relative;
  top: 1px;
  background-color: rgb(167, 26, 26);
}